django
djongo
djangorestframework
graphene-django
python-dotenv
djangorestframework
psycopg2
graphene-django
import-export
cors-headers
manage.py migrate
manage.py createsuperuser
manage.py makemigrations
manage.py runserver
